html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: ivory;
    background-size: cover;
    font-family: Helvetica;
    /* background: #c0ab9a; */
}

.title {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}
.outer-content-home{
    width: 100%;
    height: 100vh;
    background: url(./img/menu/load.jpg) no-repeat 50% 50%;
    position: absolute;
    background-size: cover;
}
h1 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 12px;
    font-weight: 400;
    color: #fff;
}

.menu-strip {
    background: #fff;
    position: fixed;
    width: 10%;
    height: 100vh;
    border-right: 1px solid rgba(0,0,0,0.1);
    z-index: 1;
}

.toggle-btn {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle-btn ion-icon {
    font-size: 28px;
    color: #a66f2c;
}

.nav .menu {
    position: absolute;
    width: 0%;
    height: 100vh;
    left: 10%;
    background: #fff;
}

.gallery-img{
justify-content: space-around;
}

.images {
    position: absolute;
    width: 0%;
    height: 100vh;
    left: 55%;
    background: url() no-repeat 50% 50%;
    background-size: cover;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: red;
}

.nav .menu ul {
    list-style: none;
    position: absolute;
    top: 36%;
    left: 36%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.img-logo{
    background-image: url(./img/logo.png);
    height: 80px;
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 18%;
}

.nav .menu ul li {
    color: #594637;
    font-weight: lighter;
    font-size: 25px;
    line-height: 60px;
}

#order {
    font-size: 16px;
    font-weight: lighter;
    color: #afafaf;
}

#tag {
    font-size: 18px;
    font-weight: lighter;
    color: #afafaf;
    transition: 0.3s;
}

.media {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.media ul li {
    display: inline-block !important;
    color: #afafaf;
    margin-left: 10px;
    font-size: 18px;
}

.nav .menu ul li:hover #tag {
    color: #a66f2c;
    transition: 1s;
}

#menu {
background: linear-gradient(#5B5B5B,#5B5B5B) left no-repeat, #afafaf;
background-size:0% 100%;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
transition: 1s;
}

#menu:hover {
background-size:100% 100%;
}

.bg1 {
    display: block;
    background: url(./img/home/01.jpg) no-repeat 50% 50%;
    background-size: cover;
}


.bg2 {
    display: block;
    background: url(./img/menu/02.jpg) no-repeat 50% 50%;
    background-size: cover;
}


.bg3 {
    display: block;
    background: url(./img/menu/03.jpg) no-repeat 50% 50%;
    background-size: cover;
}


.bg4 {
    display: block;
    background: url(./img/menu/04.jpg) no-repeat 50% 50%;
    background-size: cover;
}


.bg5 {
    display: block;
    background: url(./img/menu/05.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.bg6 {
    display: block;
    background: url(./img/menu/06.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.bg7 {
    display: block;
    background: url(./img/menu/07.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.bg8 {
    display: block;
    background: url(./img/menu/08.jpg) no-repeat 50% 50%;
    background-size: cover;
}
.bg9 {
    display: block;
    background: url(./img/menu/09.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.hide {
    display: none;
}


@media only screen and (max-width: 768px) {
    .home-body{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .images {
          display: none;
    }

    .nav .menu {
          width: 0%;
          left: 15%;
    }
    
    .menu ul {
          margin-top: 80px;
          margin-left: -20px;

    }

    .menu-strip {
          width: 15%;
    }

    .toggle-btn {
          position: absolute;
          transform: translate(-50%, -90%);
    }

    .menu li #menu {
          font-size: 12px;
          line-height: 30px;
    }

    #tag{
          display: none;
    }

    #order {
          font-size: 12px;
    }

    .media {
          display: none;
    }
    .gallery-images{
        width: 90%;   
    }
    .items{
        flex-wrap: wrap;
        padding: 7px 15px;
        margin-bottom: 2%;
    }
    .items span{
        margin-bottom: 2%;
    }
}

/* -------------------------------folk--------------------------*/
.gallery-images img{
    width: 25%;
    margin: 1.6666%;
    height: 500px;
}
.outer-content-gallery{
    left: 20%;
    top: 5%;
    position: absolute;
    bottom: 5%;
}

@media only screen and (max-width:768px){
    .gallery-images img{
        width: 90%;
        height: 400px;
    }
}
@media only screen and (min-width:769px){
    .img-logo{
        width: 20%;
        left: 25%;
        right: 40%;
        height: 100px;
    }
}

.outer-content-gallery .items{
    display: flex;
    max-width: 720px;
    width: 100%;
}
.items span{
    padding: 7px 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #007bff;
    border-radius: 50px;
    border: 2px solid #007bff;
    transition: all 0.3s ease;
    margin-left: 1.66%
  }
  .items span.active,
  .items span:hover{
    color: #fff;
    background: #007bff;
  }